footer .footer-heading{
  font-size: calc(7.143vw + 1.071rem);
  line-height: calc(7.143vw + 1.071rem);
  text-transform: uppercase;
  width: 9ch;
}
footer .social-links a{
  font-size: clamp(.875rem,.893vw + .696rem,1.5rem);
  line-height: clamp(.875rem,.893vw + .696rem,1.5rem);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
footer .social-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #222;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

footer .social-links a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.project-details-bar{
    @apply absolute bottom-5 right-4 left-4 text-inverted-soft-black overflow-hidden h-[30px] text-2xl lg:text-xl;
}
.project-detail-row{
    @apply flex justify-between items-center absolute left-0 right-0 px-5;
}
.card-3d-effect{
    @apply w-[40vw] max-w-[560px] aspect-[1.5/1] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center mx-auto;
    perspective: 100vw;
}
.project-info{
    @apply relative z-10 rounded-3xl p-[.2rem] overflow-hidden cursor-pointer;
    perspective-origin: 50%;
}
.titled-card{
  @apply rounded-2xl lg:rounded-3xl overflow-hidden p-0 w-full
}
.titled-card img{
    @apply w-full h-full object-cover;
}
.project-title-wrap{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 overflow-hidden h-auto mix-blend-difference
}
.project-title{
  @apply text-inverted-soft-black uppercase text-6xl md:text-9xl lg:text-[7rem] z-20 font-semibold
}
.project-info.show-flow-line{
    @apply before:opacity-100 after:opacity-100
}
.project-info::before {
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, #fff, transparent 10%);
    animation: rotate 8s linear infinite;
}
.project-info::after {
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000;
    border-radius: 24px;
}
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.project-link{
    @apply absolute pointer-events-none;
}
.project-link.mouse-entered{
    @apply animate-[scaledUp_.2s_ease-in-out]
}
.project-link.mouse-left{
    @apply animate-[scaledDown_.2s_ease-in-out_forwards];
}

@keyframes scaledUp {
    0% {
        transform: scale(.4);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scaledDown {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(.4);
        opacity: 0;
    }
}
